<div class="col-md-10">
	</br>
	<%= bootstrap_form_for([@list,@new_note]) do |f| %>
		<%= f.text_field :body, hide_label: :true, placeholder: "Make a new note..." %>
	<% end %>
	</br>

	<% if @list.notes.count < 1 %>
	<h2 style="color: grey; align: center; padding-left: 80px;"> Notebook is Empty.</br> Please make some notes. </h2>
	<% end %>

	<div clsss="container">
		<div class="row">
		<div class="col-md-12">
		<% @list.notes.each do |note_instance| %>
			<% if note_instance.body != nil %>
				<div class="col-md-10">
				<% if note_instance.body.length < 140 %>
					<h4> &bull; <a href="#" id="body" data-type="text" class="js-select" data-resource="note" data-pk="<%= note_instance.id %>" data-url="/lists/<%= @list.id %>/notes/<%= note_instance.id %>" data-title="Edit Note" style="border: none;"><%= note_instance.body %> </a></h4>
					<% else %>
					<h4> &bull; <a href="#" id="body" data-type="textarea" class="js-select" data-resource="note" data-pk="<%= note_instance.id %>" data-url="/lists/<%= @list.id %>/notes/<%= note_instance.id %>" data-title="Edit Note" style="border-color: black;"><%= note_instance.body %></a></h4>
					<% end %>
				</div>
				<div class="col-md-2" align="center" style="vertical-align: middle;">
					<buttom type="bottom" class="btn btn-default"><%= link_to '',  list_note_path(@list.id, note_instance.id),  method: :delete, data: { confirm: 'Are you sure?' }, class: "fa fa-minus-circle redtext" %></buttom>
				</div>
			<% end %>
			<% end %>
		</div>
	</div> <!-- class="row" -->
</div> <!-- class="container" -->

<script>
// Force the form to use fontawesome instead of bootstrap glyphicons
$.fn.editableform.buttons =
'<button type="submit" class="btn btn-primary btn-sm editable-submit">'+
'<i class="fa fa-fw fa-check"></i>'+
'</button>'+
'<button type="button" class="btn btn-default btn-sm editable-cancel">'+
'<i class="fa fa-fw fa-times"></i>'+
'</button>';
// javascript for xeditable, allows inline editing of notes
$.fn.editable.defaults.mode = 'inline';
$(document).ready(function() {
	$('.js-select').editable();
});
</script>