<div class="container" >
	<div class="row">
		<div class="col-sm-5 round_corners" style="background-color: #A3C2C2; padding-top: 10px; margin-top: 25px;">
			<h3>Welcome to Noti!</br>Sign Up</h3>

			<%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
			<%= devise_error_messages! %>

			<div><br />
				<%= f.email_field :email, autofocus: true %>
			</div>

			<div><% f.label :password %> <br />
				<%= f.password_field :password, autocomplete: "off" %><% if @validatable %><i>(<%= @minimum_password_length %> characters minimum)</i><% end %>
			</div>

			<div>
				<%= f.password_field :password_confirmation, autocomplete: "off" %>
			</div>

			<div><%= f.submit "Sign up" %></div>
			</br>
			<% end %>

			<%= render "devise/shared/links" %>
			</br>
		</div>
		<div class="col-sm-6">
		</br>
		<%= image_tag("teal-journal.jpg", size: "450x550") %>
		<h1></h1>
		</div>
	</div>
</div>
