<body class="session_background">
<div class="container" >
	<div class="row">
		<div class="col-sm-1"></div>
		<div class="col-sm-10 round_corners session_style" align="center">
			<h3 class="session_shadow">Welcome to Noti!</br>Sign Up</h3>

			<%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
			<%= devise_error_messages! %>

			<div class="session_shadow" style="max-width: 300px;">
				<%= f.email_field :email, autofocus: true, placeholder: "Email", class: "form_input" %>
			</div>

			<div class="session_shadow" style="max-width: 300px;"><% f.label :password %> <br />
				<%= f.password_field :password, autocomplete: "off", placeholder: "Password", class: "form_input" %><% if @validatable %><i>(<%= @minimum_password_length %> characters minimum)</i><% end %>
			</div>
			</br>

			<div class="session_shadow" style="max-width: 300px;">
				<%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm Password", class: "form_input" %>
			</div>

			<div><%= f.submit "Sign up" %></div>
			</br>
			<% end %>

			<%= render "devise/shared/links" %>
			</br>
		</div>
	</div>
</div>
