

<!-- sidebar -->
<div class="col-xs-6 col-sm-2 sidebar-offcanvas" id="sidebar" role="navigation" style="padding-top: 54px;">
  <ul class="nav">
    <% current_user.lists.each_with_index do |list_instance, list_index| %>
    <li > <%= link_to(list_instance.name, list_path(list_instance.id), align: "center") %> </li>
    <% end %>



    <!-- Button trigger modal 1 & 2 -->   
    <li align="center"> 
      <button type="button" class="btn btn-primary btn-lg buttonwidth" data-toggle="modal" data-target="#myModal">
        +
      </button>
    </li>

    <li align="center"> 
      <button type="button" class="btn btn-primary btn-lg buttonwidth" data-toggle="modal" data-target="#myModal2">
        -
      </button>
    </li>
    <% if current_page?(lists_path) == false %>
      <li align="center"> 
        <button type="button" class="btn btn-primary btn-lg buttonwidth" data-toggle="modal" data-target="#myModal3">
          <i class="fa fa-share-alt"></i>
        </button>
      </li>
    <% end %>


    <!-- Modal code 1-->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">New List</h4>
          </div>
          <div class="modal-body">
            <%= bootstrap_form_for(List.new) do |f| %>
            <%= f.text_field :name %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">create</button>
            <% end %>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->  



    <!-- Modal code 2 -->
    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" align="center">Delete List</h4>
          </div>
          <div class="modal-body">
            <ul class="list-group" align="center">
              <% current_user.lists.each do |list_instance| %>
              <li class="list-group-item">
                <%= list_instance.name %>
                <%= link_to 'Delete',  list_instance,  method: :delete, data: { confirm: 'Are you sure?' } %>
              </li>
              <% end %>
            </ul>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- Modal code 3-->
    <% if current_page?(lists_path) == false %>
    <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">New List</h4>
          </div>
          <div class="modal-body">

              <%= bootstrap_form_for(@list) do |f| %>
              <%= f.select :name, options_for_select(current_user.lists.collect{ |c| [c.name, c.id] }) %>
              <%= f.text_field :users %>
              <%= f.submit "Share" %>
              <% end %>
            

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">create</button>
            
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <% end %>


  </li>
</ul>
</div>