<body class="session_background">
<div class="container">
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8 round_corners session_custom" align="center">
			<h2 class="session_shadow">Noti Log In</h2>

			<%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name), class: "session_shadow") do |f| %>
			<div style="max-width: 300px;" class="session_shadow">
				<%= f.email_field :email, autofocus: true, placeholder: "Email", class: "form_inline" %>
			</div>

			<div style="max-width: 300px;" class="session_shadow">
				<%= f.password_field :password, autocomplete: "off", placeholder: "Password", class: "form_inline" %>
			</div>

				<% if devise_mapping.rememberable? -%>
					<div class="session_shadow">
						<%= f.check_box :remember_me %> <%= f.label :remember_me, class: "session_shadow" %>
					</div>
				<% end %>
					</br>
					<div>
						<%= f.submit "Log in" %>
					</div>
			<% end %>
			</br>
			</br>
			<div>
			<%= render "devise/shared/links" %>
			</div>
		</div>
</div>
</div>
